*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    font-family:'Poppins';
    color:#2d2d2d;
    background-color:rgb(28, 119, 255);
    scroll-behavior:smooth;
}

.navbar{
    position:fixed;
    top:0px;
    background:rgb(28, 119, 255);
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem 3rem;
    box-shadow:0px 2x 8px rgb(0, 0, 0);;
}
.navbar a{
    text-decoration:none;
}

.logo{
    font-size:1.6em;
    font-weight:bold;
    color:rgb(255, 255, 255);
}
.logo span{
    color:red;
    font-family:cursive;
}
.nav-links{
    display:flex;
    gap: 2rem;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:rgb(11, 11, 11);
    transition: color 0.3s;
}

.nav-links a:hover{
    color:rgb(28, 119, 255);
}

.hero{
    height:100vh;
    display:flex;
    background:linear-gradient(to right, blue, rgb(28, 119, 255));
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:2em;
    color:white;
}
.hero-content h1{
    font-size:3em;
    margin-bottom:1em;
}
.hero-content span{
    color:yellow;
}
.hero-content p{
    font-size:1.2rem;
    max-width:600px;
    margin:0 auto 2rem;
    font-weight:600px;
}
.hero-content button{
    display:inline-block;
    background:white;
    padding: 1.2em 2em;
    border-radius:1.2em;
    font-weight:600px;
    color:rgb(28, 119, 255);
    transition:.3s;
}

.hero-content button:hover{
    background:rgb(28, 119, 255);
    color:white;
}

.contact{
    padding: 6rem 2rem;
    background:white;
    text-align:center;
}
.contact h2{
    font-size: 2rem;
    margin-bottom:1em;
}
.contact form{
    display:flex;
    flex-direction:column;
    gap:1.2em;
    max-width:500px;
    margin: auto;
}
.contact input, .contact textarea{
    padding:1.2em 2em;
    border-radius:5px;
    font-size:1em
}

.contact button{
    background:rgb(28, 119, 255);
    padding:1.2em 2em;
    max-width:200px;
    margin:auto;
    border-radius:5px;
    font-family:verdana;
    color:white;
}
.contact button:hover{
    color:black;
    background:yellow;
}

footer{
    text-align:center;
    padding:1.2rem 2rem;
    background:#007bff;
    color:white;
    font-size:0.9em;
}
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.2rem;
  }
}
